* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
footer h3 {
  font-family: "Shrikhand", cursive;
}

footer h3 {
  color: white;
  font-weight: 500;
}

header {
  position: relative;
}
header nav {
  padding: 10px 20px;
  display: flex;
  align-items: center;
}
header nav a {
  display: block;
  width: 50px;
  height: 50px;
  padding: 10px;
  cursor: pointer;
  font-size: 25px;
}
header nav h1 {
  width: calc(100% - 50px);
}
header img {
  height: 260px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  position: relative;
}
header .carte-content {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: white;
}

.restaurant-page {
  padding: 10px;
  position: relative;
  z-index: 2;
}
.restaurant-page h2 {
  position: relative;
  margin-top: 40px;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 18px;
}
.restaurant-page h2::after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background: #99E2D0;
  top: 32px;
  position: absolute;
}
.restaurant-page ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
  z-index: 999;
  display: grid;
  place-content: center;
  animation: disparaitre 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

#circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 7px #99E2D0 solid;
  border-top: 7px #9356DC solid;
  animation: rotation 1s infinite linear;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes disparaitre {
  0% {
    opacity: 1;
    height: 100vh;
    z-index: 999;
  }
  75% {
    opacity: 0;
    height: 100vh;
    z-index: -1;
  }
  100% {
    opacity: 0;
    height: 0;
    z-index: -1;
  }
}
.btn-principal {
  width: 220px;
  height: 50px;
  background: linear-gradient(170deg, rgb(236, 115, 218), rgb(164, 91, 219));
  color: white;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 7px 13px -6px rgba(0, 0, 0, 0.6);
  display: block;
  margin: auto;
}
.btn-principal:hover {
  box-shadow: 7px 11px 13px -6px rgba(0, 0, 0, 0.52);
  background: linear-gradient(170deg, rgb(247, 125, 229), rgb(185, 109, 243));
}

.restaurant-page .btn-principal {
  margin-top: 50px;
  margin-bottom: 80px;
}

.reservation .btn-principal {
  margin-top: 30px;
  margin-bottom: 55px;
}

.favoris {
  position: relative;
  width: 22px;
  height: 22px;
}
.favoris i {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 22px;
}
.favoris .fa-regular.fa-heart {
  z-index: 5;
  color: black;
  transition: opacity 1.5s ease-in-out;
}
.favoris .fa-square-full {
  z-index: 3;
  color: gray;
}
.favoris .fa-solid.fa-heart {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  z-index: 1;
  background-image: linear-gradient(#e66465, #9198e5);
}
.favoris .fa-square-full {
  color: white;
  height: 15px;
  transition: top 2s;
  transition-timing-function: ease-in-out;
}
.favoris:hover .fa-square-full {
  top: -23px;
}
.favoris:hover .fa-regular.fa-heart {
  opacity: 0;
}

.carte-menu {
  height: 70px;
  width: 340px;
  box-shadow: 2px 3px 10px 3px rgba(121, 121, 121, 0.25);
  border-radius: 15px;
  padding: 17px 12px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding-right: 0;
  cursor: pointer;
}
.carte-menu .carte-menu-content {
  width: 340px;
  padding-right: 25px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  transition: width 0.5s ease-in-out;
}
.carte-menu .carte-menu-content .detail {
  width: 340px;
}
.carte-menu .carte-menu-content .detail h3,
.carte-menu .carte-menu-content .detail p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.carte-menu .carte-menu-content .detail h3 {
  margin-bottom: 12px;
}
.carte-menu .carte-menu-content .detail p {
  font-size: 14px;
}
.carte-menu .paneau {
  display: grid;
  place-content: center;
  height: 70px;
  background-color: #4edd95;
  color: white;
  width: 0;
  transition: width 0.5s ease-in-out;
}
.carte-menu .paneau i {
  transform: rotate(180deg);
  transition: transform 0.5s ease-in-out;
  transition-delay: 0.3s;
}
.carte-menu:hover .carte-menu-content {
  width: 280px;
}
.carte-menu:hover .carte-menu-content .detail {
  width: 245px;
}
.carte-menu:hover .paneau {
  width: 70px;
}
.carte-menu:hover .paneau i {
  transform: rotate(360deg);
}

footer {
  background-color: rgb(53, 53, 53);
  color: rgb(255, 255, 255);
  padding-block: 25px;
  text-align: left;
}
footer h3 {
  margin-bottom: 25px;
  margin-left: 25px;
}
footer .menu-footer {
  width: 100%;
  border-top: 10px;
  display: block;
  padding-left: 15px;
}
footer .menu-footer ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}
footer .menu-footer ul li {
  min-width: 325px;
  transition: padding-left 0.3s ease-in-out;
}
footer .menu-footer ul li i {
  width: 25px;
  text-align: left;
}
footer .menu-footer ul li a {
  display: inline;
}
footer .menu-footer ul li:hover {
  font-weight: 600;
  padding-left: 5px;
}

.restaurant-page ul li {
  opacity: 0;
  animation: apparition 1s ease-in-out;
  animation-fill-mode: forwards;
  top: 15px;
}
.restaurant-page ul li:nth-child(1) {
  animation-delay: 0s;
}
.restaurant-page ul li:nth-child(2) {
  animation-delay: 0.5s;
}
.restaurant-page ul li:nth-child(3) {
  animation-delay: 1.5s;
}
@keyframes apparition {
  from {
    opacity: 0;
    top: 25px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}

h1 {
  text-align: center;
}

button {
  margin-top: 20px;
}

img {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.carte-restaurant {
  width: 340px;
  height: 255px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 5px 5px 15px 5px rgba(121, 121, 121, 0.44);
  margin-bottom: 15px;
  background-color: white;
  position: relative;
}
.carte-restaurant img {
  width: 100%;
  height: 175px;
}
.carte-restaurant .nouveau {
  height: 30px;
  width: 80px;
  background-color: #99E2D0;
  color: rgb(0, 135, 102);
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 7px 13px;
  font-size: 14px;
}

.carte-content {
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carte-content h3 {
  margin-bottom: 3px;
}

.location {
  background-color: rgb(234, 234, 234);
  text-align: center;
  padding: 15px;
  box-shadow: inset 0px 7px 5px -4px rgba(0, 0, 0, 0.2);
}

.reservation {
  text-align: center;
  background-color: rgb(247, 247, 247);
  padding-block: 45px;
}
.reservation h2 {
  margin-bottom: 10px;
}

.fonctionnement {
  padding: 20px;
}
.fonctionnement ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}
.fonctionnement li {
  width: 330px;
  height: 75px;
  margin-block: 10px;
  box-shadow: 2px 3px 10px 3px rgba(121, 121, 121, 0.25);
  border-radius: 27px;
  background-color: rgb(247, 247, 247);
  padding-block: 27px;
  transition: all 0.3s ease-in-out;
}
.fonctionnement li .numero {
  background-color: rgb(147, 86, 220);
  color: white;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block;
  padding: 3px 7px;
  margin-left: -12px;
}
.fonctionnement li i {
  color: rgb(126, 126, 126);
  margin-inline: 25px;
  font-size: 20px;
  transition: color 0.3s ease-in-out;
}
.fonctionnement li:hover {
  background-color: rgb(245, 237, 255);
  box-shadow: 5px 5px 10px 7px rgba(121, 121, 121, 0.25);
}
.fonctionnement li:hover i {
  color: rgb(147, 86, 220);
}

.restaurants {
  background-color: rgb(246, 246, 246);
  padding: 60px 20px;
}
.restaurants h2 {
  margin-bottom: 25px;
}
.restaurants .restaurants-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}

.container {
  width: 375px;
  height: 100%;
  border-bottom: 20px;
}
.container img {
  width: 100%;
  height: 220px;
}

.content {
  width: 100%;
  height: 70%;
  display: block;
  border-top: 20px;
}/*# sourceMappingURL=style.css.map */