.favoris {
    position: relative;
    width: 22px;
    height: 22px;

    i {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 22px;
    }

    .fa-regular.fa-heart {
        z-index: 5;
        color: black;
        transition: opacity 1.5s ease-in-out;
    }

    .fa-square-full {
        z-index: 3;
        color: gray;
    }

    .fa-solid.fa-heart {
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        z-index: 1;
        background-image: linear-gradient(#e66465, #9198e5);
    }

    .fa-square-full {
        color: white;
        height: 15px;
        transition: top 2s;
        transition-timing-function: ease-in-out;
    }

    &:hover {
        .fa-square-full {
            top: -23px;
        }

        .fa-regular.fa-heart {
            opacity: 0;
        }
    }

}